doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Focus
    link(href='clear.min.css', rel='stylesheet', type='text/css')
    link(href='cropper.css', rel='stylesheet', type='text/css')
    script(src="cropper.js")
  body
  
