doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Focus
    link(href='clear.min.css', rel='stylesheet', type='text/css')
    link(href='style.css', rel='stylesheet', type='text/css')
    script(src="index.js")
  body
    .content
      .title-wrapper
        p#window-title Focus
      #header.horizontal-section
        #time 00:00
        #big-red-btn.horizontal-section(data-state='initial')
          img#crop-btn-img(src='/app/static/crop.svg')
        #size 0 kB
      .horizontal-divider
      .controls-title-wrapper.horizontal-section.btn
        .horizontal-section
          #triangle.up
          p#controls-title Controls
        img.options(src='/app/static/gear.svg')
      .horizontal-divider
      .controls.vertical-section.align-itens-flex-start
        p#aspect-ratio-title.row Aspect ratio
        select#aspect-ratio-selector.row
          option(data-aspect-ratio='custom') Custom
          option(data-aspect-ratio='16:9') 16:9 (1600x900)
          option(data-aspect-ratio='5:4') 5:4 (1280x1024)
          option(data-aspect-ratio='4:3') 4:3 (1024x768)
          option(data-aspect-ratio='1:1') 1:1 (512x512)
        #aspect-ratio-wrapper.horizontal-section.align-itens-flex-end
          .vertical-section.align-itens-flex-start
            label(for='aspect-ratio-width') Width
            .aspect-ratio-input-wrapper.column
              input#aspect-ratio-width(type='text', value='512')
          .button-group.horizontal-section.column
            img.swap-btn(src='/app/static/swap.svg')
            .vertical-divider
            img#link-btn(src='/app/static/link.svg')
          .vertical-section.align-itens-flex-start
            label(for='aspect-ratio-height') Height
            .aspect-ratio-input-wrapper
              input#aspect-ratio-height(type='text', value='512')
