doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Focus
    link(href='clear.min.css', rel='stylesheet', type='text/css')
    link(href='style.css', rel='stylesheet', type='text/css')
    script(src="index.js")
  body
    .content
      .title-wrapper
        p.title Focus
      .horizontal-section
        .time 00:00
        .start.btn
        .size 0 kB
      .settings-title-wrapper.horizontal-section
        p.settings-title Settings
        .arrow.down
      .settings.hidden
        input(value='30')#fps
        label#fps-label(for='fps') FPS
        .record-size 1920x1080
        .file-type saving to mp4
