@import '_variables';

/* Set base colour and font stack */
body {
  overflow: hidden;
  border-radius: 5px;
  color: $color-primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue';
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
}

.container {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
}

.row {
  margin-right: -16px;
  margin-left: -16px;
}

.col {
  padding-right: 16px;
  padding-left: 16px;
}

.content {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: $background-primary;
}
