@import '_variables';

/* Set base colour and font stack */
body {
  color: $color-secondary;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  overflow: hidden;
  letter-spacing: -.010rem;
  border-radius: 5px;
  overflow: hidden;
}

.container {
  display: flex;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.content {
  background-color: $background-primary;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
