@import '_variables';

/* Set base colour and font stack */
body {
  color: $color-secondary;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  overflow: hidden;
  letter-spacing: -.010rem;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.4rem;
}

.container {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.col {
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  background-color: $background-primary;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
