@import '_variables';

/*
  Helper classes
  ----
  - A collection of classes that can be reused to accomplish the same effect on any element
*/

/* Allow element to be held down to drag the current window */
.webkit-drag {
  -webkit-app-region: drag;
  cursor: -webkit-grab;
}

.a-width--full { width: 100%; }

/* Hide element */
.hidden { display: none !important; }

/* Make current element a circle */
.circle { border-radius: 50%; }


.txt {
  -webkit-user-select: none !important;
  cursor: default !important;
}
