/*
  Styling Variables ✏️
  ----
  - Stylesheet Partial, for inclusion where common variables are needed
  - If a window needs to overwrite variables, it should be done in that window's stylesheet
*/

/*
  Colors
*/
/* Blue*/
$blue:                 #007AFF;
$blue-dark:            #004BA4;
/* Gray */
$gray-lightest:        #F9F9F9;
$gray-lighter:         #F1F1F1;
$gray-light:           #DDDDDD;
$gray-dark:            #CCCCCC;
$gray-darker:          #808080;
$gray-darkest:         #404040;
$black:                #111111;

/* Red */
$red:                  #FF6059;
/* Green */
$green:                #28CA42;

/* Typography */
$font-size-default:    1.4rem;

/* Backgrounds */
$background-primary: white;
$background-secondary: $gray-darker;

/* Typography */
$color-primary:        $black;
$color-light:          white;
$divider-color:        $gray-lighter;
$box-shadow-inputs:    0 1px 1px 0 rgba(0, 0, 0, .2),
                       0 0 0 1px rgba(0, 0, 0, .1);

/* Borders */
$window-border-radius: 5px;
