/*
  Styling Variables ✏️
  ----
  - Stylesheet Partial, for inclusion where common variables are needed
  - If a window needs to overwrite variables, it should be done in that window's stylesheet
*/

/*
  Colors
*/
/* Blue */
$blue:                 #007aff;
$blue-dark:            #004ba4;
/* Gray */
$gray-lightest:        #f9f9f9;
$gray-lighter:         #f1f1f1;
$gray-light:           #ddd;
$gray-dark:            #ccc;
$gray-darker:          #808080;
$gray-darkest:         #404040;
$black:                #111;

/* Red */
$red:                  #ff6059;
/* Green */
$green:                #28ca42;

/* Typography */
$font-size-default:    1.4rem;

/* Backgrounds */
$background-primary: #fff;
$background-secondary: $gray-darker;

/* Typography */
$color-primary:        $black;
$color-light:          #fff;
$divider-color:        $gray-lighter;
$box-shadow-inputs:    0 1px 1px 0 rgba(0, 0, 0, 0.2),
  0 0 0 1px rgba(0, 0, 0, 0.1);

/* Borders */
$window-border-radius: 5px;
