@import 'eightpoint/dist/eight.min';

html,
body,
.content {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  fill: none;
}

.window-dragger {
  -webkit-app-region: drag;
}

rect.stroke-black {
  stroke: #000;
  fill: none;
  stroke-width: 2px;
}

rect.stroke-white {
  stroke: #fff;
  fill: none;
  stroke-dasharray: 4;
  stroke-width: 2px;
}
