/*
  Kap.app editor styling
  ----
*/

/* Imports: */
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_inputs';
@import 'components/_buttons';
@import 'components/_progress';
@import 'components/_slider';

html { height: 100%; }

body {
  background-color: rgba(0, 0, 0, .6);
  -webkit-app-region: drag;
  cursor: -webkit-grab;
  color: white;
  height: 100%;

  &.fullscreen {
    .window-header { display: none; }
    .output { display: none; }
  }
}

span { -webkit-user-select: none !important; }

main.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
}

/*
  Video Preview
*/
.video-preview {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: $black;

  &:hover {
    .video-controls {
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.20) 100%);
    }
    .video-controls-right, .video-controls-left, .timeline-markers {
      opacity: 1;
    }

    .c-progress.editor-progress {
      width: 60%;
      left: 50%;
      padding: 0 7px;
      transform: translateX(-50%);
      bottom: 26px;
      border-radius: 4px;
    }
  }
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 100%, rgba(0,0,0,0.20) 100%);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
  transition: background .12s ease-in-out;
  color: white;

  &-right, &-left {
    flex: 1 0 128px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .12s ease-in-out;
    color: white;
  }

  &-left > *:not(:last-child) { margin-right: 16px; }
  &-right {
    justify-content: flex-end;
    & > *:not(:first-child) { margin-left: 16px; }
  }

  a { display: flex; }
  svg { filter: drop-shadow( 0px 1px 2px rgba(0, 0, 0, .1) ); }
}

video {
  width: 100vw;
  max-height: 100%;
}

.c-progress.editor-progress {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  border-radius: 0;
  left: 0;
  bottom: 0;
  transition: .12s ease-in-out;
  &::-webkit-progress-value {
    border-radius: 0 4px 4px 0;
  }
}

.timeline-markers {
  opacity: 0;
  transition: opacity .12s ease-in-out;
  position: absolute;
  width: 60%;
  height: 100%;
  transform: translateX(-50%);
  top: 6px;
}

section.output {
  height: 4.8rem;
  min-height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-settings {
  display: flex;
  align-items: center;
  margin-left: 16px;

  & > div:not(:last-child) { margin-right: 16px; }
}

.output-format {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-left: auto;

  & > button:not(:last-child) { margin-right: 5px; }
}

.fps, .size { display: flex; }

.fps button {
  width: 4.9rem;
}

.size > span, .fps > span, .output-format > span {
  margin-right: 8px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.size > input + input { margin-left: 6px }

ul {
  display: flex;
  cursor: pointer;
  width: 9.6rem;
  height: 2.4rem;
  text-align: center;
  background: #414141;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, .05), 0 1px 2px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
