/*
  Kap.app editor styling
  ----
*/
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_inputs';
@import 'components/_buttons';
@import 'components/_progress';
@import 'components/_slider';

html {
  height: 100%;
}

body {
  height: 100%;
  color: #fff;
  -webkit-app-region: drag;

  &.fullscreen {
    .window-header {
      display: none;
    }

    .output {
      display: none;
    }
  }
}

span {
  -webkit-user-select: none !important;
}

main.content {
  display: flex;
  height: 100%;
  border-radius: 5px;
  flex-direction: column;
  background: transparent;
}

/*
  Video Preview
*/
.video-preview {
  display: flex;
  overflow: visible;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $black;

  &:hover {
    .video-controls {
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }

    .video-controls-right,
    .video-controls-left,
    .timeline-markers {
      opacity: 1;
    }

    .c-progress.editor-progress {
      width: 60%;
      border-radius: 4px;
      bottom: 26px;
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-markers {
      width: 60%;
      height: 16px;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.video-controls {
  display: flex;
  height: 64px;
  padding: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.2) 100%);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background 0.12s ease-in-out;

  /* !important because electron's app-region behavior is odd */
  -webkit-app-region: no-drag !important;

  &-right,
  &-left {
    display: flex;
    flex: 1 0 128px;
    align-items: center;
    opacity: 0;
    color: #fff;
    transition: opacity 0.12s ease-in-out;
  }

  &-left > *:not(:last-child) {
    margin-right: 16px;
  }

  &-right {
    justify-content: flex-end;

    & > *:not(:first-child) {
      margin-left: 16px;
    }
  }

  a {
    display: flex;
  }

  svg {
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  }
}

video {
  width: 100vw;
  max-height: 100%;
}

.c-progress.editor-progress {
  width: 100%;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.12s ease-in-out;
  -webkit-appearance: none;

  &::-webkit-progress-value {
    border-radius: 0 4px 4px 0;
  }
}


.progress-bar-time-tip {
  height: 24px;
  padding: 0 8px;
  border-radius: 12px;
  margin-top: -24px;
  position: absolute;
  top: 0;
  left: -50%;
  transform: translate(-50%, 0);
  opacity: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  transition: 100ms ease-in-out transform;
  pointer-events: none;
}

.timeline-container:hover .progress-bar-time-tip {
  transform: translate(-50%, 10px);
  opacity: 1;
  transition: 200ms ease-out transform;
}

.timeline-container:hover .timeline-markers .slider::-webkit-slider-thumb {
  width: 4px;
  height: 16px;
}

.timeline-markers {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.12s ease-in-out;
}

section.output {
  display: flex;
  height: 4.8rem;
  min-height: 4.8rem;
  align-items: center;
  justify-content: space-between;
}

.output-settings {
  display: flex;
  margin-left: 16px;
  align-items: center;

  & > div:not(:last-child) {
    margin-right: 16px;
  }
}

.output-format {
  display: flex;
  margin-right: 16px;
  margin-left: auto;
  align-items: center;

  & > button:not(:first-child),
  & > .c-select:not(:first-child) {
    margin-right: 8px;
  }
}

.fps,
.size {
  display: flex;
}

.fps button {
  width: 4.9rem;
}

.size > span,
.fps > span,
.output-format > span {
  display: flex;
  margin-right: 8px;
  align-items: center;
  font-size: 1.2rem;
}

.size input {
  font-size: 1.2rem;
  text-align: center;
}

ul {
  display: flex;
  width: 9.6rem;
  height: 2.4rem;
  border-radius: 3px;
  background: #414141;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
