/*
  Kap.app main styling
  ----
  Uses eightpoint (github.com/wulkano/eightpoint as a reset)
  ( ͡° ͜ʖ ͡°)
*/
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_buttons';
@import 'components/_progress';

body {
  background-color: $background-primary;
}

section.progress-wrapper {
  padding: 2rem;
}

section.progress {
  /* @extend .webkit-drag; */
  display: flex;
  padding: 2rem;
  border-radius: $window-border-radius;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $gray-lightest;
}

.progress-bar-cancel-btn {
  width: 100%;
  color: $red;

  &:hover {
    border-color: $red;
    color: $color-light;
    background-color: $red;
  }
}
