/*
  Kap.app main styling
  ----
  Uses eightpoint (github.com/wulkano/eightpoint as a reset).
  ( ͡° ͜ʖ ͡°)
*/

/* Imports: */
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_inputs';
@import 'components/_buttons';
@import 'components/_progress';

/* Helper Classes */
.horizontal-section { display: flex; }

/* Tray Arrow */
.tray-arrow {
  margin: auto;
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid $background-light;
  border-left: 1rem solid transparent;
  transition: all .3s ease;
}

.content { background-color: transparent; }


/* Kap Header */
.kap-header {
  @extend .webkit-drag;
  display: flex;
  background-color: $background-light;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 28px 0 32px;

  &__text {
    font-size: 1.2rem;
    cursor: -webkit-grab;
    color: $grey-light;

    &:hover { color: $grey; }

    &:first-child {
      text-align: right;
      flex: 1;
    }

    &:last-child {
      text-align: left;
      flex: 1;
    }

    &.is-active { color: $blue; }
  }
}

.record {
  @extend .btn;
  @extend .circle;
  display: flex;
  border: 2px solid $red;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0 42px;
  justify-content: center;
  align-items: center;
  transition: background-color .12s ease-in-out;

  &.filled { background-color: $red; }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    transition: background .12s ease-in-out;
  }
}

/*
  Controls Section
  ----

  Controls shown in the main Kap window.

*/
.controls {
  width: 100%;
  color: white;

  /* Toggle of controls section */
  &-toggle {
    display: flex;
    height: 3.2rem;
    width: 100%;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    background: #2D2D2D;
    color: white;

    /* Text inside the toggle */
    &__title {
      cursor: pointer;
      margin-left: 1rem;
    }

    /* Directional transform of arrow in toggle */
    .triangle.up { transform: rotate(-180deg); }
  }

  /* App options menu, to the right of the toggle */
  &-options {
    margin-left: auto;
    padding: .25em;
    width: 2.2rem;
    height: 2.2rem;
    fill: #8C8C8C;
    cursor: pointer;

    &:hover { fill: #4D4D4D; }
  }


  /* Container for all controls after toggle has been clicked */
  &-content {
    border-top: 1px solid #1B1B1B;
    display: flex;
    flex-direction: column;
  }

  /* Sections within the control content */
  &-section {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #222222;

    /* Add a border-top to each following element of the same class */
    & + .controls-section { border-top: 1px solid #1B1B1B; }

    &__title {
      color: $color-primary;
      font-size: 1.4rem;
      letter-spacing: -.010rem;
      line-height: normal;
      margin-bottom: 14px;
      color: white;
    }

    &__row {
      display: flex;
      width: 100%;

      & + .controls-section__row { margin-top: 8px; }
    }
  }
}


/* Aspect Ratio Controls */
.aspect-ratio {
  justify-content: space-between;
  align-items: flex-end;
}

.aspect-ratio__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aspect-ratio__input label {
  font-size: 1rem;
  line-height: normal;
  display: block;
  margin-bottom: 0.5em;
  color: #D7D7D7;
}

.aspect-ratio__input input {
  width: 101px;
}

.aspect-ratio__options {
  border-radius: 3px;
  width: 64px;
  height: 2.4rem;
  align-items: flex-start;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

section.progress {
  @extend .webkit-drag;
  background-color: $background-light;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12.6rem;
  padding-bottom: 2.8rem; /* to compensate the tittle bar */
}

.progress-bar {
  width: 206px;
}

.progress-bar-label {
  font-size: 1.2rem;
  color: $grey;
  margin-bottom: 16px;
}

.update-notification {
  @extend .webkit-drag;
  display: flex;
  background-color: #28ca42;
  width: 100%;
  height: 2.75rem;
  color: #fff!important;
  flex-direction: column;

  & span {
    font-size: 1.2rem;
  }

  & ul {
    display: flex;
    position: absolute;
    right: .5rem;
    margin-left: auto;

    & li svg {
      padding: .25em;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
