/*
  Kap.app main styling
  ----
  Uses eightpoint (github.com/wulkano/eightpoint as a reset)
  ( ͡° ͜ʖ ͡°)
*/
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_icons';
@import 'components/_inputs';
@import 'components/_buttons';
@import 'components/_progress';

/* Body */
body {
  transition: all 0.2s ease;

  &.is-recording {
    .content {
      height: 152px;
    }

    .record {
      top: 85%;
    }
  }
}

body.is-tray-arrow-hidden {
  padding-top: 10px;
}

/* Helper Classes */
.horizontal-section {
  display: flex;
}

/* Tray Arrow */
.tray-arrow {
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid $background-primary;
  border-left: 1rem solid transparent;
  margin: auto;
  transition: border-bottom-width 0.2s ease, border-bottom-color 0.3s ease;
}

.content {
  border-radius: 4px;
  background-color: #fff;
}


/* Kap start bar */
.start-bar {
  /* @extend .webkit-drag; */
  width: 100%;
  padding-top: 24px;
  position: relative;

  /* Contains all content of the start bar excluding the record button */
  &__content {
    display: flex;
    width: 100%;
    height: 48px;
    border-top: 1px solid $gray-light;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: $gray-lightest;
  }

  &__text {
    height: 2.4rem;
    color: $color-primary;
    font-size: 1.2rem;

    &:hover {
      color: $color-primary;
    }

    &:first-child {
      flex: 1;
      text-align: right;
    }

    &:last-child {
      flex: 1;
      text-align: left;
    }

    &.is-active {
      color: $blue;

      svg {
        fill: currentColor;
      }
    }
  }

  svg {
    transition: fill 0.12s ease-in-out;
    fill: $gray-darker;

    &:hover {
      fill: $blue;
    }
  }
}

.record {
  @extend .btn;
  @extend .circle;
  display: flex;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  z-index: 100;
  background: $red;
  transition: background-color 0.12s ease-in-out;

  &.filled {
    background-color: $red;
  }

  /*
    Recording state icon
    Default state: not recording, but ready to record
  */
  &__state {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: border-radius 0.12s ease-in-out, background 0.12s ease-in-out;
  }

  &.is-cropping .record__state {
    background: #fff;
  }

  &.is-recording .record__state {
    border-radius: 4px;
    background: #fff;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    transition: background 0.12s ease-in-out;
  }
}

.record-filler {
  width: 64px;
  height: 64px;
  margin: 0 48px;
}

/*
  Controls Section
  ----

  Controls shown in the main Kap window.

*/
.controls {
  width: 100%;
  color: #fff;

  /* Toggle of controls section */
  &-toggle {
    display: flex;
    width: 100%;
    height: 3.2rem;
    align-items: center;
    color: #fff;
    background: #2d2d2d;
    font-size: 1.4rem;

    /* Text inside the toggle */
    &__title {
      margin-left: 1rem;
    }

    /* Directional transform of arrow in toggle */
    .triangle.up {
      transform: rotate(-180deg);
    }
  }


  /* Container for all controls after toggle has been clicked */
  &-content {
    display: flex;
    flex-direction: column;
  }

  /* Sections within the control content */
  &-section {
    display: flex;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    flex-direction: column;
    background: #fff;

    &__title {
      margin-bottom: 14px;
      color: #fff;
      font-size: 1.4rem;
      line-height: normal;
      letter-spacing: -0.01rem;
    }

    &__row {
      display: flex;
      width: 100%;

      & + .controls-section__row {
        margin-top: 16px;
      }
    }
  }
}


/* Aspect ratio controls */
.ratio-selector .app-logo {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0 0 0 3px #fff;
}

.aspect-ratio {
  align-items: flex-end;
  justify-content: space-between;
}

.aspect-ratio__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aspect-ratio__input input {
  width: 101px;
}

.aspect-ratio__options {
  width: 64px;
  border-radius: 3px;
  align-items: flex-start;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

section.progress {
  /* @extend .webkit-drag; */
  display: flex;
  width: 100%;
  height: 12.6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-primary;
}

.progress-bar {
  width: 206px;
  margin-bottom: 15px;
}

.progress-bar-label {
  margin-bottom: 16px;
  color: $color-primary;
  font-size: 1.2rem;
}
