/*
  Kap.app editor styling
  ----
*/

/* Imports: */
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_inputs';
@import 'components/_buttons';

body {
  background-color: $background-primary;
  -webkit-app-region: drag;
  cursor: -webkit-grab;
  font-weight: 500;
  color: white;
}

span { -webkit-user-select: none !important; }

main.content {
  display: flex;
  flex-direction: column;
}

video {
  width: 768px;
  height: 380px;
}

progress {
  -webkit-appearance: none;
  height: 6px;
  min-width: 50%;
  display: flex;
  flex-grow: 1;
  margin-right: 3rem;
  margin-left: 4em;

  &::-webkit-progress-bar {
    background-color: #C6C6C6;
    border-radius: 3px;
  }

  &::-webkit-progress-value {
    background-color: #3995F4;
    background-image: linear-gradient(90deg, #05E6B5 0%, #5272E2 50%, #9300FF 100%);
    border-radius: 3px;
  }
}

section.controls {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-controls {
  width: 100%;
  height: 6.4rem;
  padding: 2.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 4.8rem;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.20) 100%);
}

.video-controls-left,
.video-controls-right,
.video-playback,
.video-time,
.video-volume,
.video-fullscreen {
  display: flex;
}

.video-playback {
  margin-left: -.6rem;
  cursor: pointer;
}

.video-playback.paused .video-play-icon {
  display: inline;
}

.video-playback.paused .video-pause-icon {
  display: none;
}

.video-play-icon {
  display: none;
}

.video-time {
  min-width: 80px;
  margin-left: 1rem;
}

.video-time .duration {
  font-size: 1.3rem;
}

.video-volume-up {
  display: none;
}

.video-volume.active .video-volume-off {
  display: none;
}

.video-volume.active .video-volume-up {
  display: inline;
}

.video-fullscreen {
  margin-right: -.6rem;
  margin-left: 1.6rem;
}

.video-fullscreen-exit {
  display: none;
}

.video-fullscreen.active .video-fullscreen-enter {
  display: none;
}

.video-fullscreen.active .video-fullscreen-exit {
  display: inline;
}

.video-options {
  display: flex;
  justify-content: space-between;
  width: 48.5rem;
  margin-left: 16px;
}

.window-controls {
  display: flex;
  align-items: center;
  margin-right: 16px;

  & > div + div { margin-left: 15px }
}

.fps, .loop { display: flex; }

span, .discard, .save { font-size: 1.2rem; }

input[type=text] {
  width: 5rem;
  height: 2.5rem;
  padding-left: 1rem;
  background: #2D2D2D;
  border: 1px solid #545454;
  color: white;
  border-radius: 3px;

  &:focus { border-color: #3B99FC; }
}

.size > span, .fps > span, .loop > span { margin-right: 16px }
.size > input + input { margin-left: 6px }

ul {
  display: flex;
  cursor: pointer;
  width: 9.6rem;
  height: 2.4rem;
  text-align: center;
  background: #414141;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, .05), 0 1px 2px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

li {
  width: 100%;
  line-height: 2rem;

  &.active {
    background: #3B99FC;
    border: 1px solid #2D91FC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    color: white;

    &:first-child { border-radius: 3px 0 0 3px; }
    &:last-child { border-radius: 0 3px 3px 0; }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
