@import 'eightpoint/dist/eight.min';

$background-color: #222222;

body {
  background-color: $background-color;
  -webkit-app-region: drag;
  cursor: -webkit-grab;
  font-weight: 500;
  color: white;
}

span {
  -webkit-user-select: none !important;
}

input, .fps, .window-controls, .loop {
  -webkit-app-region: no-drag;
}

main.content {
  display: flex;
  flex-direction: column;
}

video {
  width: 768px;
  height: 380px;
}

progress {
  -webkit-appearance: none;
  height: 4px;
  width: 100%;

  &::-webkit-progress-bar { background-color: #C6C6C6; }
  &::-webkit-progress-value { background-color: #3995F4; }
}

section.controls {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-controls {
  display: flex;
  justify-content: space-between;
  width: 48.5rem;
  margin-left: 16px;
}

.window-controls {
  display: flex;
  align-items: center;
  margin-right: 16px;

  & > div + div { margin-left: 15px }
}

.fps, .loop { display: flex; }

span, .discard, .save { font-size: 1.2rem; }

input[type=text] {
  width: 5rem;
  height: 2.5rem;
  padding-left: 1rem;
  background: #2D2D2D;
  border: 1px solid #545454;
  color: white;
  border-radius: 3px;

  &:focus { border-color: #3B99FC; }
}

.size > span, .fps > span, .loop > span { margin-right: 16px }
.size > input + input { margin-left: 6px }

ul {
  display: flex;
  cursor: pointer;
  width: 9.6rem;
  height: 2.4rem;
  text-align: center;
  background: #414141;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, .05), 0 1px 2px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

li {
  width: 100%;
  line-height: 2rem;

  &.active {
    background: #3B99FC;
    border: 1px solid #2D91FC;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    color: white;

    &:first-child { border-radius: 3px 0 0 3px; }
    &:last-child { border-radius: 0 3px 3px 0; }
  }
}

.discard, .save {
  cursor: pointer;
  text-align: center;
}

.discard {
  height: 2.4rem;
  padding: 0 1.6rem;
  background: #414141;
  box-shadow: inset 0 1px rgba(255, 255, 255, .05), 0 1px 2px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.save {
  height: 2.6rem;
  padding: 0 1.6rem;
  background: #3B99FC;
  border: 1px solid #2D91FC;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
  border-radius: 3px;
  color: white;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
