$background-color: #FFFFFF;

body {
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  -webkit-app-region: drag;
  cursor: -webkit-grab;
}

span {
  -webkit-user-select: none !important;
}

input {
  -webkit-app-region: no-drag;
}

main.content {
  display: flex;
  flex-direction: column;
}

video {
  width: 768px;
  height: 380px;
}

progress {
  -webkit-appearance: none;
  height: 4px;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: #C6C6C6;
  }

  &::-webkit-progress-value {
    background-color: #3995F4;
  }
}

section.controls {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-controls {
  display: flex;
  justify-content: space-between;
  width: 48.5rem;
  margin-left: 16px;
}


.window-controls {
  display: flex;
  margin-right: 16px;

  & > div + div { margin-left: 15px }
}

.fps, .loop {
  display: flex;
}

span, .discard, .save {
  font-size: 1.2rem;
}

input[type=text] {
  width: 5rem;
  height: 2.5rem;
  padding-left: 1rem;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0 1px 0 0 #FFFFFF;
  border-radius: 3px;
}

.size > span, .fps > span, .loop > span { margin-right: 16px }
.size > input + input { margin-left: 6px }

ul {
  display: flex;
  cursor: pointer;
  width: 9.6rem;
  height: 2.4rem;
  text-align: center;

  background-image: linear-gradient(-180deg, #FEFEFE 0%, #F1F1F1 100%);
  background: #F9F9F9;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,0.10), inset 0 1px 0 0 #FFFFFF;
  border-radius: 3px;
}

li {
  width: 100%;
  line-height: 2rem;

  &.active {
    background: #3B99FC;
    border: 1px solid #2D91FC;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    color: white;

    height: calc(100% + 2px);

    &:first-child {
      border-radius: 3px 0 0 3px;
      transform: translate(-1px, -1px);
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
      transform: translate(1px, -1px);
    }
  }
}

.discard, .save {
  cursor: pointer;
  height: 2.4rem;
  text-align: center;
}

.discard {
  width: 7.2rem;
  background-image: linear-gradient(-180deg, #FEFEFE 0%, #F1F1F1 100%);
  background: #F9F9F9;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10), inset 0px 1px 0px 0px #FFFFFF;
  border-radius: 3px;
}

.save {
  width: 6.2rem;
  background: #3B99FC;
  border: 1px solid #2D91FC;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
  border-radius: 3px;
  color: white;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
