/*
  Kap.app preferences styling
  ----
*/

/* Imports: */
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_inputs';
@import 'components/_labels';
@import 'components/_buttons';
@import 'components/_toggle';
@import 'components/_range';



html, body, .content {
  height: 100%;
  user-select: none;
}


/*
  Preferences Navigation
*/

nav.prefs-nav {
  padding: 0 16px;
  height: 4.8rem;
  display: flex;
  align-items: center;

  a {
    margin-right: 16px;
    color: $gray-darker;
    transition: color .12s ease-in-out;
    display: flex;
    svg {
      fill: currentColor;
      transition: fill .12s ease-in-out;
    }

    &:hover:not(.is-active) { color: $blue; }
    &.is-active { color: $blue; }
  }

  svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

/* `window-header` override */
.window-header .window__title {
  font-size: 1.3rem !important;
  line-height: initial !important;
}

.title-bar {
  height: 2.4rem !important;
}

.title-bar__controls {
  display: none !important;
}
/* / `window-header` override */

.prefs-sections {
  overflow-y: auto;
}

.preference {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__description {
    font-size: 1.2rem;
    color: $gray-darker;
  }

  &__note { color: $gray-darker; }

  &+ .preference { border-top: 1px solid $gray-lighter; }
  &:last-of-type { border-bottom: 1px solid $gray-lighter; }
}

.preference-part {
  display: flex;
  width: 100%;
  padding: 16px 0;
  align-items: center;
  flex-wrap: wrap;

  &+ .preference-part { border-top: 1px solid $gray-lighter; }

  &.split {
    padding: 0;

    .col:not(:last-child) { border-right: 1px solid $gray-darker; }
    .col { padding: 16px; }
  }
}

.preference-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
}

.preference-input {
  &.c-range { flex: 1 0 100%; }
  &.c-toggle {
    flex: 1 1 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
}
