/*
  Kap.app preferences styling
  ----
*/

/* Imports: */
@import 'eightpoint/dist/eight.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_inputs';
@import 'components/_labels';
@import 'components/_buttons';
@import 'components/_toggle';
@import 'components/_range';


html,
body,
.content {
  height: 100%;
  user-select: none;
}


/*
  Preferences Navigation
*/
nav.prefs-nav {
  display: flex;
  height: 4.8rem;
  padding: 0 16px;
  align-items: center;

  a {
    display: flex;
    margin-right: 16px;
    color: $gray-darker;
    transition: color 0.12s ease-in-out;
    cursor: default;

    svg {
      transition: fill 0.12s ease-in-out;
      fill: currentColor;
    }

    &:hover:not(.is-active) {
      color: $blue;
    }

    &.is-active {
      color: $blue;
    }
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* `window-header` override */
.window-header .window__title {
  font-size: 1.3rem !important;
  line-height: initial !important;
}

.title-bar {
  height: 2.4rem !important;
}

.title-bar__controls {
  display: none !important;
}
/* / `window-header` override */

.prefs-sections {
  overflow-y: auto;
}

.preference {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__description {
    color: $gray-darker;
    font-size: 1.2rem;
  }

  &__note {
    color: $gray-darker;
  }

  & + .preference {
    border-top: 1px solid $gray-lighter;
  }

  &:last-of-type {
    border-bottom: 1px solid $gray-lighter;
  }
}

.preference-part {
  display: flex;
  width: 100%;
  padding: 16px 0;
  flex-wrap: wrap;
  align-items: center;

  & + .preference-part {
    border-top: 1px solid $gray-lighter;
  }

  &.split {
    padding: 0;

    .col:not(:last-child) {
      border-right: 1px solid $gray-darker;
    }

    .col {
      padding: 16px;
    }
  }
}

.preference-content {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
}

.preference-input {
  &.c-range {
    flex: 1 0 100%;
  }

  &.c-toggle {
    display: flex;
    margin-left: auto;
    flex: 1 1 0;
    justify-content: flex-end;
  }
}
