/*
  Kap.app main styling
  ----
  Uses eightpoint (github.com/wulkano/eightpoint as a reset).
  ( ͡° ͜ʖ ͡°)
*/

/* Variables */
$background-primary: #FFFFFF;
$background-secondary: #ECECEC;
$primary-text-color: #585858;
$secondary-text-color: #9C9C9C;
$divider-color: rgba(0, 0, 0, 0.1);
$default-font-size: 1.4rem;
$box-shadow-inputs: 0px 1px 1px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);
$blue: #3B99FC;
$red: #FF6159;
$window-border-radius: 5px;

* { /* TODO make this rule more specific */
  -webkit-user-select: none;
  cursor: default;
}

/* Set base colour and font stack */
body {
  color: $secondary-text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  overflow: hidden;
}

select { width: 100%; }
input {
  border: none;
  box-shadow: 0 0 0 1px #CCCCCC;
}

/* Helper Classes */
.btn { cursor: pointer }
.circle { border-radius: 50%; }
.container {
  display: flex;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.hidden { display: none !important; }
.webkit-drag {
  -webkit-app-region: drag;
  cursor: -webkit-grab;
}
.horizontal-section { display: flex; }

/* Tray Arrow */
.tray-arrow {
  margin: auto;
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid $background-primary;
  border-left: 1rem solid transparent;
  transition: all .3s ease;

  &.hide { border-bottom: 0.6125em solid transparent; }
}

/* Window Title Bar */
.title-bar {
  @extend .webkit-drag;
  width: 100%;
  height: 2.8rem;
  text-align: center;
  background-color: $background-primary;
  position: relative;
}

.title-bar__controls {
  position: absolute;
  left: 8px;
  transition: all .3s ease;
  svg {
    margin-right: 3.5px;
  }
  &.invisible {
    opacity: 0;
  }
}

.title-bar__controls .hide-window, .title-bar__controls .minimize-window {
  &, & * {
    cursor: default !important; /* there's hrefs on the SVG 😒 */
  }

  /*&:hover g g, &:hover g path { display: inherit; }*/
}

.title-bar__controls:hover .hide-window g g, .title-bar__controls:hover .minimize-window g g, .title-bar__controls:hover .hide-window g path, .title-bar__controls:hover .minimize-window g path, {
  display: inherit;
}

.hide-window:active g use { fill: #BF4942; }

.minimize-window:active g use { fill: #BF8E22; }

.window__title {
  color: $primary-text-color;
  font-size: $default-font-size;
  line-height: 2.8rem;
  cursor: -wekit-grab;
}

/* Content Wrapper */
.content {
  background-color: $background-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}

/* Kap Header */
.kap-header {
  @extend .webkit-drag;
  display: flex;
  background-color: $background-primary;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 12.8rem;
  border-bottom: 1px solid #CCCCCC;

  &__text {
    font-size: 1.2rem;
    cursor: -webkit-grab;

    &:first-child {
      text-align: right;
      flex: 1;
    }

    &:last-child {
      text-align: left;
      flex: 1;
    }
  }
}

.record {
  @extend .btn;
  @extend .circle;
  display: flex;
  border: 2px solid $red;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0 2rem;
  justify-content: center;
  align-items: center;
  transition: background-color .12s ease-in-out;

  &.filled { background-color: $red; }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    transition: background .12s ease-in-out;
  }
}

/* Controls Section */
.controls { width: 100%; }

.controls__toggle {
  display: flex;
  height: 3.2rem;
  width: 100%;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  background: #F3F3F3;

  .triangle.up {
    transform: rotate(-180deg);
  }
}

.controls__title {
  color: $primary-text-color;
  cursor: pointer;
  margin-left: 1rem;
}

.controls__options {
  margin-left: auto;
  padding: .25em;
  width: 2.4rem;
  height: 2.4rem;
  fill: #8C8C8C;
  cursor: pointer;

  &:hover { fill: #4D4D4D; }
}

.controls-content {
  border-top: 1px solid #CCCCCC;
}

.controls-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    color: $primary-text-color;
    font-size: 1.4rem;
  }

  &__row {
    display: flex;
    width: 100%;
  }
}

/* Aspect Ratio Controls */
.controls-section__row + .controls-section__row { margin-top: 10px; }

.aspect-ratio {
  justify-content: space-between;
  align-items: flex-end;
}

.aspect-ratio__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aspect-ratio__input label {
  font-size: 1rem;
  line-height: normal;
  display: block;
  margin-bottom: 0.5em;
}

.aspect-ratio__input input {
  width: 101px;
  padding: 0 8px;
  height: 1.8rem;
}

.aspect-ratio__options {
  border-radius: 3px;
  width: 64px;
  height: 2.4rem;
  align-items: flex-start;
}

.button-group {
  border: none;
  background: #FCFBFC;
  box-shadow: $box-shadow-inputs;
  border-radius: 3px;
  width: 6.4rem;
  height: 1.8rem;
  display: flex;
  justify-content: space-around;

  li {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) { border-right: 1px solid rgba(0, 0, 0, 0.1); }
  }

  svg {
    @extend .btn;
    height: 100%;
    width: 2.4rem;
    fill: #8C8C8C;
    transition: fill 0.12s ease-in-out;

    &:hover { fill: #4D4D4D; }
    &:active, &.active { fill: $blue; }
    &.disabled { pointer-events: none; }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

input.invalid {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

section.progress {
  @extend .webkit-drag;
  background-color: $background-primary;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 12.6rem;
  padding-bottom: 2.8rem; /* to compensate the tittle bar */
}

.progress-bar-label {
  position: absolute;
  font-size: $default-font-size;
  top: 9.5rem;
}

.progress-bar {
  height: 2rem; /* (ﾉಠдಠ)ﾉ︵┻━┻ */
}
