$primary-background-color: #FFFFFF;
$secondary-background-color: #ECECEC;
$primary-text-color: #585858;
$secondary-text-color: #9C9C9C;
$divider-color: rgba(0, 0, 0, 0.1);
$default-font-size: 0.8750em;
$box-shadow-inputs: 0px 1px 1px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);
$blue: #3B99FC;
$red: #FF6159;
$window-border-radius: 5px;

.content, .title-wrapper {
  border-top-left-radius: $window-border-radius;
  border-top-right-radius: $window-border-radius;
}

html {
  color: $secondary-text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
}

.content { /* TODO: remove this and apply this styles to `body`? */
  background-color: $secondary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.webkit-drag {
  -webkit-app-region: drag;
  cursor: -webkit-grab;
  &:active {
    cursor: -webkit-grabbing;
  }
}

#header {
  @extend .webkit-drag;
  background-color: $primary-background-color;
  width: 100%;
  justify-content: center;
}

.horizontal-section, .vertical-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.vertical-section {
  flex-direction: column;
}

#window-title, #controls-title {
  color: $primary-text-color;
  font-size: $default-font-size;
}

.title-wrapper {
  @extend .webkit-drag;
  width: 100%;
  text-align: center;
  background-color: $primary-background-color;
}

#time, #size {
  position: absolute;
  font-size: 9pt;
}

#time {
  left: 7em;
}

#size {
  left: 65%;
}

.btn, .btn * {
  cursor: pointer
}

.circle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

#big-red-btn {
  @extend .btn;
  @extend .circle;
  border: 2px solid $red;
  margin: 1em;
  justify-content: center;
  transition: background-color .5s ease;

  &.filled {
    background-color: $red;
  }

  svg {
    width: 1.3750em;
    height: 1.3750em;
  }
}

* { /* TODO make this rule more specific */
  -webkit-user-select: none;
  cursor: default;
}

.controls-title-wrapper {
  width: 100%;
  height: 2em;
  background-color: $secondary-background-color;
  padding-left: 0.6250em;
  padding-right: 0.6250em;
}

.controls-title-wrapper * {
  @extend .btn;
}

#controls-title {
  margin-left: 0.75em;
}

#triangle {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 0.3em solid transparent;
  border-top: 0.3125em solid $primary-text-color;
  border-left: 0.3em solid transparent;
  margin-left: 0.25em; /* TODO: remove this */
  transition: all .3s ease;

  &.up {
    transform: rotate(-180deg);
  }
}

.controls {
  overflow: hidden;
  /*height: 5em;*/
  text-align: center;
  width: 100%;
  padding: 1em;
}

.hidden {
  display: none;
}

.options {
  padding: .25em;
  width: 1.5em;
  height: 1.5em;
}

.horizontal-divider {
  width: 100%;
  height: 1px; /* TODO: change this to `em` */
  background-color: $divider-color;
}

.vertical-divider {
  width: 1px;
  height: 100%; /* TODO: change this to `em` */
  background-color: $divider-color;
}

#aspect-ratio-title {
  color: $primary-text-color;
  font-size: $default-font-size;
  line-height: normal;
}

label {
  font-size: 0.6250em;
  line-height: normal;
}

.align-itens-flex-start {
  align-items: flex-start;
}

.align-itens-flex-end {
  align-items: flex-end;
}

.aspect-ratio-input-wrapper {
  width: 6.3em;
  height: 1.5em;
}

#aspect-ratio-selector {
  width: 100%;
}

.row {
  margin-bottom: 0.75em;
}

.column {
  margin-right: 0.5em;
}


input[type=text] {
  width: 100%;
  height: 100%;
  padding-left: 0.3em;

  /* fixes a REALLY anoying "bug" that places a 1px white border on the input – tested on El Capitan */
  border: 1px solid #CCCCCC;
}

.button-group {
  border: none;
  background: #FCFBFC;
  box-shadow: $box-shadow-inputs;
  border-radius: 3px;
  width: 4em;
  height: 1.35em;

  svg {
    @extend .btn;
    width: 75%;
    height: 115%;

    &:active, &.active {
      fill: $blue;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

input.invalid {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#tray-triangle {
  margin: auto;
  width: 0;
  height: 0;
  border-right: 0.6em solid transparent;
  border-bottom: 0.6125em solid $primary-background-color;
  border-left: 0.6em solid transparent;
  transition: all .3s ease;

  &.hide {
    border-bottom: 0.6125em solid transparent;
  }
}

#traffic-lights {
  position: absolute;
  left: 8px;
  transition: all .3s ease;
  svg {
    margin-right: 3.5px;
  }
  &.invisible {
    opacity: 0;
  }
}

.hide-window, .minimize-window {
  &, & * {
    cursor: default !important; /* there's hrefs on the SVG 😒 */
  }

  &:hover g g, &:hover g path {
    display: inherit;
  }
}

.hide-window:active g use {
  fill: #BF4942;
}

.minimize-window:active g use {
  fill: #BF8E22;
}
