@import '../_variables';

/*
  Input Styling Component ✏️
  ----
  - Stylesheet Partial, for inclusion where inputs are used
  - Any extensions to input styling should go in this file
*/

/* Button */
*[class^='button'] {
  height: 2.4rem;
  padding: 0 1.6rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: $color-primary;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2.4rem;
}


/*
  Button Group
*/
.button-group {
  display: flex;
  overflow: hidden;
  height: 2.4rem;
  padding: 0;
  border-radius: 4px;
  position: relative;
  justify-content: space-around;
  background-color: #fff;

  &--large {
    height: 3.2rem;

    *[class^='button'] {
      height: 3.2rem;
    }
  }

  .active-shim {
    position: absolute;
    left: 0;
    z-index: 0;
    background: $blue;
    transition: 0.2s cubic-bezier(0.37, 1.12, 0.18, 1);
    transition-property: transform, border-radius;
  }

  *[class^='button'] {
    display: flex;
    height: 100%;
    padding: 0;
    border: 0;
    border-radius: 0;
    flex: 1 1 1%;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: none;
    transition: background 0.12s ease-in-out;

    &.is-active {
      background: #f9f9f9;

      svg {
        fill: $blue;
      }
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }

    &:hover {
      background: #fff;

      &:not(:active):not(.is-active) {
        /* stylelint-disable-next-line max-nesting-depth */
        svg {
          fill: $blue;
        }
      }
    }

    span {
      min-width: 4.8rem;
      padding: 0 1.6rem;
      z-index: 1;
    }
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    transition: fill 0.12s ease-in-out;
    fill: #919191;
  }

  &.is-light {
    background: #f9f9f9;
    box-shadow: $box-shadow-inputs, 0 1px rgba(255, 255, 255, 1);

    svg {
      fill: #8c8c8c;
    }
  }

  &.is-transparent {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;

    .active-shim {
      background: rgba(255, 255, 255, 0.1);
    }

    *[class^='button'] {
      border-color: transparent;
      color: #fff;

      &:hover {
        background: transparent;
      }

      &:hover:not(:focus) {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

button {
  &:disabled,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button--primary {
  border-color: #2d91fc;
  background: #3b99fc;
}

.button--secondary {
  border: 1px solid $gray-light;
  background: #fff;
  transition: border 0.12s ease-in-out;

  &:hover {
    border-color: $blue;
  }

  &:disabled {
    border-color: $gray-light;
  }
}

.button--dark {
  border-color: transparent;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.12s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

/* Button with small padding */
.button--small-padding {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

/* Large Button */
.button--large {
  height: 3.2rem;
}
