@import '../_variables';

/*
  Input Styling Component ✏️
  ----
  - Stylesheet Partial, for inclusion where inputs are used
  - Any extensions to input styling should go in this file
*/

/* Ensure all buttons have the pointer cursor */
.btn { cursor: pointer }

/* Button */
*[class^="button"] {
  height: 2.4rem;
  line-height: 2.4rem;
  padding: 0 1.6rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $color-primary;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
}


/*
  Button Group
*/
.button-group {
  position: relative;
  padding: 0;
  border-radius: 4px;
  height: 2.4rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;

  &--large {
    height: 3.2rem;

    *[class^="button"] { height: 3.2rem; }
  }

  .active-shim {
     position: absolute;
     background: $blue;
     z-index: 0;
     left: 0;
     transition: .2s cubic-bezier(.37,1.12,.18,1);
     transition-property: transform, border-radius;
  }

  *[class^="button"] {
    flex: 1 1 1%;
    background: transparent;
    border: 0;
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: 0;
    transition: background .12s ease-in-out;

    &.is-active {
      background: #F9F9F9;

      svg { fill: $blue; }
    }

    &:first-child { border-radius: 4px 0 0 4px; }
    &:last-child { border-radius: 0 4px 4px 0; }
    &:not(:last-child) { border-right: 1px solid #DDD; }

    &:hover {
      background: white;
      &:not(:active):not(.is-active) {
        svg { fill: $blue; }
      }
    }

    span {
      padding: 0 1.6rem;
      min-width: 4.8rem;
      z-index: 1;
    }
  }

  svg {
    @extend .btn;
    height: 2.4rem;
    width: 2.4rem;
    fill: #919191;
    transition: fill .12s ease-in-out;
  }

  &.is-light {
    background: #F9F9F9;
    box-shadow: $box-shadow-inputs, 0 1px rgba(255, 255, 255, 1);

    svg { fill: #8C8C8C; }
  }

  &.is-transparent {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .1);

    .active-shim { background: rgba(255, 255, 255, .1); }

    *[class^="button"] {
      color: white;
      border-color: transparent;

      &:hover { background: transparent; }
      &:hover:not(:focus) {
        background: rgba(255, 255, 255, .2);
      }
    }
  }
}

button {
  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.button--primary {
  background: #3B99FC;
  border-color: #2D91FC;
}

.button--secondary {
  background: white;
  border: 1px solid $gray-light;
  transition: border .12s ease-in-out;

  &:hover {
    border-color: $blue;
  }

  &:disabled {
    border-color: $gray-light;
  }
}

/* Large Button */
.button--large {
  height: 3.2rem;
}
