@import '../_variables';

/*
  Input Styling Component ✏️
  ----
  - Stylesheet Partial, for inclusion where inputs are used
  - Any extensions to input styling should go in this file
*/

/* Ensure focus on inputs doesn't allow app dragging */
input {
  -webkit-app-region: no-drag;
}

/*
  Custom select element styling
  - Use `select` tag wrapped within div with the class of `.select-element`.
*/
.c-select {
  width: 100%;
  height: 2.4rem;
  padding-right: 32px;
  border: 1px solid $gray-light;
  border-radius: 4px;
  position: relative;
  color: $color-primary;
  background-color: #fff;
  transition:
    border 0.12s ease-in-out,
    background 0.12s ease-in-out;

  &:focus {
    border-color: $blue;
  }

  &:hover:not(:focus) {
    border-color: $gray-dark;
  }

  button {
    text-align: left;
  }

  select,
  button {
    width: 100%;
    height: 2.4rem;
    padding-right: 12px;
    padding-left: 12px;
    border: none;
    position: relative;
    top: -1px;
    color: $color-primary;
    background: transparent;
    font-size: 1.4rem;
    line-height: 2.4rem;
    -webkit-appearance: none;
  }

  &--large {
    height: 3.2rem;

    select,
    button {
      height: 3.2rem;
    }

    select {
      line-height: 3.2rem;
    }
  }

  &__toggle-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: $gray-dark;
  }

  &.has-icon {
    select,
    button {
      padding-left: 32px;
    }

    svg:not(.c-select__toggle-icon) {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      pointer-events: none;
      fill: $gray-darker;
    }
  }

  &.has-custom-label {
    padding-left: 8px;
    font-size: 1.2rem;

    .c-select__label {
      display: flex;
      height: 100%;
      align-items: center;
    }

    select {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      opacity: 0;
    }
  }

  &.is-light {
    background: #fff;
    background-color: $gray-lightest;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 1px 100%;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(0, 0, 0, 0.1),
      inset 0 1px #fff,
      inset 0 1px rgba(255, 255, 255, 1);

    select {
      color: $color-primary;
    }
  }

  &.is-transparent {
    border-color: transparent;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);

    select {
      color: #fff;
    }

    .c-select__toggle-icon {
      fill: #fff;
    }

    &:hover {
      border-color: transparent;
      background: rgba(255, 255, 255, 0.2);

      .c-select__toggle-icon {
        fill: $blue;
      }
    }
  }
}


/*
  Input Group
  - For joined together input styling
*/
.input-group {
  display: flex;

  input,
  input[type='text'] {
    border-radius: 0;
    margin-right: 0;

    &:not(:last-child) {
      border-right-color: transparent;
    }

    &:first-child:not(:only-child) {
      border-radius: 4px 0 0 4px;
    }

    &:last-child:not(:only-child) {
      border-radius: 0 4px 4px 0;
    }

    &:focus {
      border-color: $blue;

      & + input {
        border-left-color: transparent;
      }
    }
  }

  &.is-transparent {
    input {
      border-color: transparent;
      color: #fff;
      background: rgba(255, 255, 255, 0.1);

      &:not(:last-of-type) {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }

      &:hover,
      &:focus {
        border-color: transparent;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}


/*
  Custom input styling
*/
input,
.c-input {
  height: 2.4rem;
  padding: 0 0.8rem;
  border: 1px solid $gray-light;
  border-radius: 4px;
  color: $color-primary;
  background-color: #fff;
  font-size: 1.4rem;
  transition: border 0.12s ease-in-out, background 0.12s ease-in-out;

  &:focus {
    border-color: $blue;
  }

  &:hover:not(:focus) {
    border-color: $gray-dark;
  }

  &.is-transparent {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.c-input--large {
  height: 3.2rem;
}
