@import '../_variables';

/*
  Label Styling Component ✏️
  ----
  - Super small, but styles the labels
*/

label.c-label {
  font-size: 1.2rem;
  display: block;
  color: $gray-lighter;
  margin-bottom: 8px;
}
