@import '../_variables';

/*
  Range Styling Component ✏️
  ----
  - Styles the range input in HTML
  - Includes a custom element to display labels for either end of the range
*/

.c-range {
  width: 100%;
  margin-top: 16px;

  input[type='range'] {
    width: 100%;
    height: 0.4rem;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: $gray-light;
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid $blue;
    border-radius: 50%;
    background: $blue;
    -webkit-appearance: none;
  }

  input[type='range']:focus {
    outline: none;
  }

  /*
    Range Labels
  */
  &-labels {
    display: flex;
    height: 3.2rem;
    align-items: center;
    justify-content: space-between;
    color: $gray-darker;
    font-size: 1rem;
  }

  &-label:first-child,
  &-label:last-child {
    flex: 1;
  }

  &-label:last-child {
    text-align: right;
  }
}
