@import '../_variables';

/*
  Range Styling Component ✏️
  ----
  - Styles the range input in HTML
  - Includes a custom element to display labels for either end of the range
*/

.c-range {
  width: 100%;
  margin-top: 16px;

  input[type=range] {
    -webkit-appearance: none;
    background: $gray-light;
    border: none;
    width: 100%;
    height: .4rem;
    border-radius: 4px;
    padding: 0;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid $blue;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: $blue;
    cursor: pointer;
  }

  input[type=range]:focus {
    outline: none;
  }

  /*
    Range Labels
  */
  &-labels {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: $gray-darker;
  }

  &-label:first-child, &-label:last-child { flex: 1; }
  &-label:last-child { text-align: right; }

}
