/*
  Slider Styling Component ✏️
  ----
  - Used for the trimmer in the editor window
*/

.slider {
  width: 100%;
  height: 1.6rem;
  padding: 0;
  padding-right: 1px;
  border: none;
  margin: 0;
  position: absolute;
  background: transparent;
  pointer-events: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    height: 0;
    border-color: transparent;
    color: transparent;
    background: transparent;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    width: 4px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.16s ease-in-out;
    pointer-events: auto;
    -webkit-appearance: none;

    &:hover {
      cursor: -webkit-grab;
    }

    &:active {
      cursor: -webkit-grabbing;
    }
  }
}
