/*
  Slider Styling Component ✏️
  ----
  - Used for the trimmer in the editor window
*/

.slider {
  -webkit-appearance: none;
  background: transparent;
  position: absolute;
  pointer-events: none;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;

  &#trimmer-in::-webkit-slider-thumb {
    background: white;
    margin-left: 4px;
  }
  &#trimmer-out::-webkit-slider-thumb {
    background: white;
    margin-right: 4px;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    height: 0;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    transform: translateY(8px);
    width: 8px;
    height: 24px;
    border-radius: 8px;
    transition: width .35s cubic-bezier(0,.74,0,1.12);

    &:active {
      width: 12px;
    }
  }
}
