@import '../_variables';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

.c-toggle {
  font-size: 1em;
}

.c-toggle__input {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;

  &:checked + .c-toggle__label {
    background-color: #fff;

    &::after {
      left: calc(100% - 2.2rem);
      background: $blue;
    }
  }

  &[disabled] + .c-toggle__label {
    background-color: #fff;
    cursor: not-allowed;

    &::after {
      border: 1px solid $gray-dark;
      background-color: #fff;
    }
  }

  &.loading + .c-toggle__label {
    background-color: #fff;
    cursor: wait;

    &::after {
      border: none;
      background: #fff url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMTYgMTYiCiAgICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgICAgICA8c3R5bGU+CiAgICAgICAgICAKICAgIEBrZXlmcmFtZXMgc3Bpbm5lciB7CiAgICAgICAgMCUgewogICAgICAgICAgICBzdHJva2UtZGFzaG9mZnNldDogMTAuNTY7CiAgICAgICAgfQogICAgICAgIDUwJSB7CiAgICAgICAgICAgIHN0cm9rZS1kYXNob2Zmc2V0OiA1MC4yNDsKICAgICAgICB9CiAgICAgICAgMTAwJSB7CiAgICAgICAgICAgIHN0cm9rZS1kYXNob2Zmc2V0OiAwLjY2OwogICAgICAgIH0KICAgIH0KCgoKICAgICAgICAgIAogICAgICAgICAgICAKCiAgICAgICAgICBjaXJjbGUgewogICAgICAgICAgICAgIGZpbGw6IHRyYW5zcGFyZW50OwogICAgICAgICAgICAgIHN0cm9rZTogIzAwN2FmZjsKICAgICAgICAgICAgICBzdHJva2UtbGluZWNhcDogcm91bmQ7CiAgICAgICAgICAgICAgc3Ryb2tlLWRhc2hhcnJheTogY2FsYygzLjE0cHggKiAxNik7CiAgICAgICAgICAgICAgc3Ryb2tlLWRhc2hvZmZzZXQ6IDE2OwogICAgICAgICAgICAgIGFuaW1hdGlvbjogc3Bpbm5lciAzcyBsaW5lYXIgaW5maW5pdGU7CiAgICAgICAgICB9CiAgICAgIDwvc3R5bGU+CiAgICAgICAgPGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjciIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgPjwvY2lyY2xlPgogICAgPC9zdmc+Cg==') center;
      background-size: 100%;
      animation: spin 3s linear infinite;
    }
  }

  + .c-toggle__label {
    display: inline-block;
    width: 4.8rem;
    height: 2.4rem;
    border: 1px solid $gray-light;
    border-radius: 2.625em;
    position: relative;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      margin-top: 0.3rem;
      margin-left: 0.3rem;
      position: absolute;
      top: 0;
      left: 0;
      background: $gray-darker;
      box-shadow: 0 1px 2px solid rgba(0, 0, 0, 0.2);
      transition: 0.12s ease-in-out;
    }
  }
}
