@import '../_variables';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.c-toggle {
  font-size: 1em;
}

.c-toggle__input {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;

  &:checked + .c-toggle__label {
    background-color: #fff;

    &::after {
      left: calc(100% - 2.2rem);
      background: $blue;
    }
  }

  &[disabled] + .c-toggle__label {
    background-color: #fff;
    cursor: not-allowed;

    &::after {
      border: 1px solid $gray-dark;
      background-color: #fff;
    }
  }

  &.loading + .c-toggle__label {
    background-color: #fff;

    &::after {
      border: none;
      background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjxkZWZzPjxjaXJjbGUgaWQ9ImEiIGN4PSI4IiBjeT0iOCIgcj0iOCIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjx1c2UgZmlsbD0iI0ZGRiIgeGxpbms6aHJlZj0iI2EiLz48Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNy41IiBzdHJva2U9IiNEREQiLz48cGF0aCBmaWxsPSIjMDA3QUZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0wIDhhOCA4IDAgMSAxIDggOHYtMWE3IDcgMCAxIDAtNy03SDB6Ii8+PC9nPjwvc3ZnPg==') center;
      background-size: 100%;
      animation: spin 0.75s linear infinite;
    }
  }

  + .c-toggle__label {
    display: inline-block;
    width: 4.8rem;
    height: 2.4rem;
    border: 1px solid $gray-light;
    border-radius: 2.625em;
    position: relative;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      margin-top: 0.3rem;
      margin-left: 0.3rem;
      position: absolute;
      top: 0;
      left: 0;
      background: $gray-darker;
      box-shadow: 0 1px 2px solid rgba(0, 0, 0, 0.2);
      transition: 0.12s ease-in-out;
    }
  }
}
