@import '../_variables';
@import '../_helpers';

/*
  Window Header Component
  ----
  - Use for any window header
  - Can be changed into light version with `.is-light` class
*/

.window-header {
  /* @extend .webkit-drag; */
  width: 100%;
  max-height: 100%;
  border-radius: 4px 4px 0 0;
  position: relative;
  opacity: 1;
  transition: transform 0.12s ease-in-out, opacity 0.12s ease-in-out, height 0.12s ease-in-out;
  /* cursor: -webkit-grab; */
  /* -webkit-app-region: drag; */
  will-change: transform, opacity, height;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: -1;
    background-color: #f9f9f9;
    background-image: linear-gradient(-180deg, #f9f9f9 0%, #f1f1f1 100%);
    box-shadow: 0 1px 0 0 #ddd, inset 0 1px 0 0 #fff;
    transition: top 0.12s ease-in-out, opacity 0.12s ease-in-out;
  }

  &.has-hidden-background::before {
    top: -100%;
    opacity: 0;
  }

  .window__title {
    color: $color-primary;
    font-size: $font-size-default;
    line-height: 3.6rem;
    cursor: -webkit-drag;
  }
  /* Toolbar: */
  &.is-large::before {
    background-image: linear-gradient(-180deg, #f9f9f9 0%, #f1f1f1 100%);
    box-shadow: 0 1px 0 0 #ddd, inset 0 1px 0 0 #fff;

    .window__title {
      color: $color-primary;
    }
  }

  &.is-floating {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  &.is-translucent::before {
    background: rgba(34, 34, 34, 0.2);
    box-shadow: none;
    /* TODO: Add backdrop-filter back in when it doesn't make the window flash */
    /* backdrop-filter: blur(10px); */
  }

  &.is-translucent.is-dark {
    &::before {
      background: rgba(0, 0, 0, 0.4);
    }

    .window__title {
      color: #fff;
    }
  }

  &.is-hidden {
    max-height: 0;
    transform: translateY(-100%);
    opacity: 0;
  }
}


.title-bar {
  /* @extend .webkit-drag; */
  width: 100%;
  height: 3.6rem;
  position: relative;
  text-align: center;
}

.title-bar__controls {
  display: flex;
  height: 3.6rem;
  position: absolute;
  left: 12px;
  align-items: center;
  transition: all 0.3s ease;
  -webkit-user-select: none !important;

  svg {
    margin-right: 8px;
  }

  &.is-invisible {
    opacity: 0;
  }
}

.title-bar__controls .close-window,
.title-bar__controls .hide-window,
.title-bar__controls .minimize-window {
  &,
  & * {
    cursor: default !important; /* There's hrefs on the SVG 😒 */
  }
}

.title-bar__controls:hover .hide-window g g,
.title-bar__controls:hover .close-window g g,
.title-bar__controls:hover .minimize-window g g,
.title-bar__controls:hover .hide-window g path,
.title-bar__controls:hover .close-window g path,
.title-bar__controls:hover .minimize-window g path, {
  display: inherit !important;
}

.hide-window:active g use {
  fill: #bf4942;
}

.minimize-window:active g use {
  fill: #bf8e22;
}
