@import '../_variables';
@import '../_helpers';

/*
  Window Header Component
  ----
  - Use for any window header
  - Can be changed into light version with `.is-light` class
*/

.window-header {
  @extend .webkit-drag;
  -webkit-app-region: drag;
  cursor: -webkit-grab;
  width: 100%;
  border-radius: 4px 4px 0 0;
  opacity: 1;
  transition: transform .12s ease-in-out, opacity .12s ease-in-out, height 0.12s ease-in-out;
  will-change: transform, opacity, height;
  max-height: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-180deg, #F9F9F9 0%, #F1F1F1 100%);
    background: #F9F9F9;
    box-shadow: 0 1px 0 0 #DDDDDD, inset 0 1px 0 0 #FFFFFF;
    opacity: 1;
    transition: top .12s ease-in-out, opacity .12s ease-in-out;
    z-index: -1;
  }

  &.has-hidden-background:before {
    top: -100%;
    opacity: 0;
  }

  .window__title {
    cursor: -webkit-drag;
    color: $color-primary;
    font-size: $font-size-default;
    line-height: 3.6rem;
  }
  /* Toolbar: */
  &.is-large:before {
    background-image: linear-gradient(-180deg, #F9F9F9 0%, #F1F1F1 100%);
    box-shadow: 0 1px 0 0 #DDDDDD, inset 0 1px 0 0 #FFFFFF;

    .window__title { color: $color-primary; }
  }

  &.is-floating {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &.is-translucent:before {
    background: rgba(34, 34, 34, .2);
    box-shadow: none;
    /* TODO: Add backdrop-filter back in when it doesn't make the window flash */
    /*backdrop-filter: blur(10px);*/
  }

  &.is-translucent.is-dark {
    &:before { background: rgba(0, 0, 0, .4); }
    .window__title { color: white; }
  }

  &.is-hidden {
    max-height: 0px;
    opacity: 0;
    transform: translateY(-100%);
  }
}


.title-bar {
  @extend .webkit-drag;
  width: 100%;
  height: 3.6rem;
  text-align: center;
  position: relative;

  &.has-update-notification {
    height: 5.6rem;
    background-color: $green;
  }

  &.has-update-notification .window__title { color: white; }
}

.title-bar__controls {
  position: absolute;
  left: 12px;
  transition: all .3s ease;

  height: 3.6rem;
  display: flex;
  align-items: center;
  -webkit-user-select: none !important;

  svg { margin-right: 8px; }
  &.is-invisible { opacity: 0; }
}

.title-bar__controls .close-window, .title-bar__controls .hide-window, .title-bar__controls .minimize-window {
  &, & * {
    cursor: default !important; /* there's hrefs on the SVG 😒 */
  }

  /*&:hover g g, &:hover g path { display: inherit; }*/
}

.title-bar__controls:hover .hide-window g g, .title-bar__controls:hover .close-window g g, .title-bar__controls:hover .minimize-window g g, .title-bar__controls:hover .hide-window g path, .title-bar__controls:hover .close-window g path, .title-bar__controls:hover .minimize-window g path, {
  display: inherit !important;
}

.hide-window:active g use { fill: #BF4942; }

.minimize-window:active g use { fill: #BF8E22; }
