version: 2
jobs:
  build:
    macos:
      xcode: '12.0.0'
    steps:
      - checkout
      - run: yarn
      - run: yarn test
      - run: yarn run dist
      - run: mv dist/*.dmg dist/Kap.dmg
      - store_artifacts:
          path: dist/Kap.dmg
  sentry-release:
    docker:
      - image: circleci/node:4.8.2
    environment:
      SENTRY_ORG: wulkano-l0
      SENTRY_PROJECT: kap
    steps:
      - checkout
      - run: yarn run -s sentry-version
      - run: export SENTRY_RELEASE=$(yarn run -s sentry-version)
      - run: echo $SENTRY_RELEASE
      - run: |
          curl -sL https://sentry.io/get-cli/ | bash
          export SENTRY_RELEASE=$(yarn run -s sentry-version)
          sentry-cli releases new -p $SENTRY_PROJECT $SENTRY_RELEASE
          sentry-cli releases set-commits --auto $SENTRY_RELEASE
          sentry-cli releases finalize $SENTRY_RELEASE

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/ # Force CircleCI to build on tags
      - sentry-release:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            # branches:
            #   ignore: /.*/
