html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  fill: none;
}

.window-dragger {
  cursor: -webkit-grab;
  -webkit-app-region: drag;
  &:active {
    cursor: -webkit-grabbing;
    /*
     * TODO: this doesn't work because of `-webkit-app-region`; implement a workaround
     * with ipc
     */
  }
}

rect.stroke-black {
  stroke: black;
  fill: none;
  stroke-width: 3px;
}

rect.stroke-white {
  stroke: white;
  fill: none;
  stroke-dasharray: 3,3;
  stroke-width: 3px;
}
