$primary-background-color: #FFFFFF;
$secondary-background-color: #ECECEC;
$primary-text-color: #585858;
$secondary-text-color: #9C9C9C;
$divider-color: rgba(0, 0, 0, 0.1);
$default-font-size: 0.8750em;
$box-shadow-inputs: 0px 1px 1px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);
$blue: #3B99FC;
$red: #FF6159;


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../static/san-francisco.woff");
}

html {
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  font-family: "San Francisco";
}

.content { /* TODO: remove this and apply this styles to `body`? */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header {
  background-color: $primary-background-color;
  width: 100%;
  justify-content: center;
}

.horizontal-section, .vertical-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.vertical-section {
  flex-direction: column;
}

#window-title, #controls-title {
  color: $primary-text-color;
  font-size: $default-font-size;
}

.title-wrapper {
  width: 100%;
  text-align: center;
  -webkit-app-region: drag;
  background-color: $primary-background-color;
}

#time, #size {
  position: absolute;
  font-size: 9pt;
}

#time {
  left: 7em;
}

#size {
  left: 65%;
}

.btn, .btn * {
  cursor: pointer
}

.circle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

#big-red-btn {
  @extend .btn;
  @extend .circle;
  border: 2px solid $red;
  margin: 1em;
  justify-content: center;
  transition: background-color .5s ease;

  &.filled {
    background-color: $red;
  }

  svg {
    width: 1.3750em;
    height: 1.3750em;
  }
}

* { /* TODO make this rule more specific */
  -webkit-user-select: none;
  cursor: default;
}

.controls-title-wrapper {
  width: 100%;
  height: 2em;
  background-color: $secondary-background-color;
  padding-left: 0.6250em;
  padding-right: 0.6250em;
}

.controls-title-wrapper * {
  @extend .btn;
}

#controls-title {
  margin-left: 0.75em;
}

#triangle {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 0.3em solid transparent;
  border-top: 0.3125em solid $primary-text-color;
  border-left: 0.3em solid transparent;
  margin-left: 0.25em; /* TODO: remove this */
  transition: all .3s ease;

  &.up {
    transform: rotate(-180deg);
  }
}

.controls {
  overflow: hidden;
  /*height: 5em;*/
  text-align: center;
  width: 100%;
  padding: 1em;
}

.hidden {
  display: none;
}

.options {
  padding: .25em;
  width: 1.5em;
  height: 1.5em;
}

.horizontal-divider {
  width: 100%;
  height: 1px; /* TODO: change this to `em` */
  background-color: $divider-color;
}

.vertical-divider {
  width: 1px;
  height: 100%; /* TODO: change this to `em` */
  background-color: $divider-color;
}

#aspect-ratio-title {
  color: $primary-text-color;
  font-size: $default-font-size;
  line-height: normal;
}

label {
  font-size: 0.6250em;
  line-height: normal;
}

.align-itens-flex-start {
  align-items: flex-start;
}

.align-itens-flex-end {
  align-items: flex-end;
}

.aspect-ratio-input-wrapper {
  width: 6.3em;
  height: 1.5em;
}

#aspect-ratio-selector {
  width: 100%;
}

.row {
  margin-bottom: 0.75em;
}

.column {
  margin-right: 0.5em;
}


input[type=text] {
  width: 100%;
  height: 100%;
  padding-left: 0.3em;
}

.button-group {
  border: none;
  background: #FCFBFC;
  box-shadow: $box-shadow-inputs;
  border-radius: 3px;
  width: 4em;
  height: 1.35em;

  svg {
    @extend .btn;
    width: 75%;
    height: 115%;

    &:active, &.active {
      fill: $blue;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

input.invalid {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
