$background-color: #242424; /* from chrome devtools' dark theme */
$text-color: rgb(156, 156, 156);

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../static/san-francisco.woff");
}

html {
  background-color: $background-color;
  color: $text-color;
  font-family: "San Francisco";
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.title, .settings-title {
  font-size: 10pt;
}

.title-wrapper {
  width: 100%;
  text-align: center;
  -webkit-app-region: drag;
}

.time, .size {
  font-size: 9pt;
}

.btn {
  cursor: pointer
}

.start {
  width: 4em;
  height: 4em;
  background: linear-gradient(rgb(255, 97, 89), rgb(255, 95, 82), rgb(255, 58, 48));
  border-radius: 50%;
  margin: 1em;
}

* { /* TODO make this rule more specific */
  -webkit-user-select: none;
  cursor: default;
}

.settings-title-wrapper {
  width: 100%;
  height: 2em;
  background-color: #191919;
  cursor: pointer;
}

.settings-title-wrapper * {
  cursor: pointer;
}

.settings-title {
  margin-left: 0.75em;
}

.arrow {
  margin-right: 0.75em;
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 0.15em solid rgb(156, 156, 156);;
  border-top: 0.15em solid rgb(156, 156, 156);;
  margin-right: 0.5em;
  transition: all .3s ease;

  &.up {
    transform: rotate(-45deg);
  }

  &.down {
    transform: rotate(135deg);
  }
}

.settings {
  overflow: hidden;
  height: 5em;
  text-align: center;
  font-size: 1em;
}

.settings.hidden {
  height: 0em;
}

input {
  color: $text-color;
  border: 1px solid transparent;
  border-radius: 5px;
  background: transparent;
  box-sizing: border-box;
  font-size: 1em;

  &#fps {
    width: 2em;
    text-align: right;
  }
}
