@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../static/san-francisco.woff");
}

html {
  background-color: #242424; /* from chrome devtools' dark theme */
	color: rgb(156, 156, 156);
	font-family: "San Francisco";
}

.content {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-section {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.title {
	cursor: -webkit-grab;
	font-size: 10pt;
}

.title-wrapper {
	padding-left: 100%;
	padding-right: 100%;
	-webkit-app-region: drag;
	cursor: -webkit-grab;
}

.title-wrapper:active, .title:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.time, .size {
	font-size: 9pt;
}

.btn {
	cursor: pointer
}

.start {
	width: 4em;
	height: 4em;
	background: linear-gradient(rgb(255, 97, 89), rgb(255, 95, 82), rgb(255, 58, 48));
	border-radius: 50%;
	margin: 1em;
}
