//-
  Kap Pug Mixins ⚡️
  ----
  - Re-usable components in the kap markup


//- Window Header Mixin
    - Re-usable window header
mixin window-header
  - var a = attributes
  header.window-header(class!=a.class)
    .title-bar
      .title-bar__controls(class=a.invisibleControls ? 'invisible' : '')
        img.hide-window(src='/app/static/traffic-light-close.svg')
        img.minimize-window(src='/app/static/traffic-light-minimize.svg')
        img.maximize-window(src='/app/static/traffic-light-disabled.svg')
      span.window__title.txt= a.title
    block
