extends _extend

block head
  title Cropper
  +stylesheet('cropper')
  +script('cropper')

block body
  svg.window-dragger(xmlns='http://www.w3.org/2000/svg')
    rect.stroke-black(x='0', y='0', width='100%', height='100%')
    rect.stroke-white(x='0', y='0', width='100%', height='100%')
