extends _extend

block head
  title Editor
  +stylesheet('editor')
  +script('editor')

block body
  +window-header(title='Editor' hide).is-floating.is-transparent.is-hidden
  .video-preview
    video#preview(autoplay loop)
    .video-controls
      .video-controls-left
        a.video__play-button.js-play-video.hidden
          +icon('play')
        a.video__pause-button.js-pause-video
          +icon('pause')
        span.video__time.js-video-time 0:00
      progress.c-progress.c-progress__transparent.editor-progress(max='100' value=0)
      .video-controls-right
        a.video__maximize-button.js-maximize-video
          +icon('fullscreen')
        a.video__unmaximize-button.js-unmaximize-video.hidden
          +icon('fullscreen-exit')
  section.output
    .output-settings
      .size
        span Size
        .input-group
          input.input-width(type='text' placeholder="Width")
          input.input-height(type='text' placeholder="Height")
      .fps
        span FPS
        .button-group
          .active-shim
          button.button--primary#fps-15.active
            span 15
          button.button--primary#fps-max
            span 30
      .loop
        span Loop
        .button-group
          .active-shim
          button.button--primary#loop-on.active
            span On
          button.button--primary#loop-off
            span Off
    .output-format
      span Export as
      button.button--primary(data-export-type="gif")
        span GIF
      button.button--primary(data-export-type="mp4")
        span MP4
      button.button--primary(data-export-type="webm")
        span WebM
