extends _extend

block head
  title Editor
  +stylesheet('editor')
  +script('editor')

block body
  +window-header(title='Editor' hide).is-floating.is-translucent.is-dark.is-hidden
  .video-preview
    video#preview(autoplay loop)
    .video-controls
      .video-controls-left
        a.video__play-button.js-play-video.hidden
          +icon('play')
        a.video__pause-button.js-pause-video
          +icon('pause')
        span.video__time.js-video-time 0:00
      .timeline-container
        .timeline-markers
          input.slider#trimmer-in(type="range", step="0.00001")
          input.slider#trimmer-out(type="range", step="0.00001")
        progress.c-progress.c-progress__transparent.editor-progress(max='100' value=0)
      .video-controls-right
        a.video__maximize-button.js-maximize-video
          +icon('fullscreen')
        a.video__unmaximize-button.js-unmaximize-video.hidden
          +icon('fullscreen-exit')
  section.output
    .output-settings
      .size
        span Size
        .input-group.is-transparent
          input.input-width(type='text' placeholder="Width" size="5")
          input.input-height(type='text' placeholder="Height" size="5")
      .fps
        span FPS
        .button-group.is-transparent
          .active-shim
          button.button--primary#fps-15.active
            span 15
          button.button--primary#fps-max
            span 30
    .output-format
      span Export
      +select-custom(data-export-type="gif").is-transparent.has-custom-label
        .c-select__label GIF
        select
          option(selected disabled value="-1") Export destinations
      +select-custom(data-export-type="mp4").is-transparent.has-custom-label.u-margin-left--small
        .c-select__label MP4
        select
          option(selected disabled value="-1") Export destinations
      +select-custom(data-export-type="webm").is-transparent.has-custom-label.u-margin-left--small
        .c-select__label WebM
        select
          option(selected disabled value="-1") Export destinations
      +select-custom(data-export-type="apng").is-transparent.has-custom-label.u-margin-left--small
        .c-select__label APNG
        select
          option(selected disabled value="-1") Export Options
