extends _extend

block head
  title Kap
  +stylesheet('main')
  +script('main')

block aboveWindow
  .tray-arrow

block body
  +window-header(title='Kap' invisibleControls updates hide).is-light.is-hidden

  //- Progress bar
  section.progress.hidden
    label.progress-bar-label.txt(for='progress-bar') This might take a moment…
    progress.c-progress#progress-bar.progress-bar(max='100')

  section.controls-content
    .controls-section.container
      .controls-section__row
        .c-select.custom-select
          Hello
        +select-custom.has-icon.c-select--large.aspect-ratio-select
          +icon('ic_crop_free_24px').o-icon--small
          select.aspect-ratio-selector(tabindex="1")
            option(value='16:9') 16:9
            option(value='5:4') 5:4
            option(value='5:3') 5:3
            option(value='4:3') 4:3
            option(value='3:2') 3:2
            option(value='1:1' selected) 1:1
            option(id="custom-ratio-option" data-aspect-ratio='custom') Custom
        +select-custom.has-icon.c-select--large.app-select
          +icon('ic_crop_free_24px').o-icon--small
          select.app-selector(tabindex="1")
            option(disabled=true selected=true) Loading…
      .controls-section__row.aspect-ratio
        .aspect-ratio__input
          input#aspect-ratio-width.c-input--large(type='number' value='512' tabindex="1")
        .button-group.button-group--large.aspect-ratio__options
          button.button--primary.swap-btn(title='Flip dimensions')
            +icon('swap')
          button.button--primary.link-btn(title='Lock aspect ratio')
            +icon('link')
        .aspect-ratio__input
          input#aspect-ratio-height.c-input--large(type='number' value='512' tabindex="1")

  //- Main App area/header (record button container)
  section.start-bar

    .record(data-state='initial' title='New recording')
      .record__state

    .start-bar__content
      .start-bar__text.js-toggle-audio-record(title='Toggle audio')
        +icon('mic').is-mic-on.hidden
        +icon('mic-off').is-mic-off

      //- Fill in the space that the record button would take in this bar but can't because of its positioning outside of it
      //- Using a filler instead of some clever padding because it's more future-proof
      .record-filler

      //- Settings link
      .start-bar__text(title='Options')
        +icon('ic_settings_24px').controls-options
