extends _extend

block head
  title Kap
  +stylesheet('main')
  +script('main')

block aboveWindow
  .tray-arrow

block body
  +window-header(title='Kap' invisibleControls updates hide).is-light.is-hidden

  //- Progress bar
  section.progress.hidden
    label.progress-bar-label.txt(for='progress-bar') This might take a moment…
    progress.c-progress#progress-bar.progress-bar(max='100')
      
  section.controls-content
    .controls-section.container
      .controls-section__row
        +select-custom.has-icon.c-select--large
          +icon('ic_crop_free_24px').o-icon--small
          select.aspect-ratio-selector(tabindex="1")
            option(value='1600x900') 16:9 (1600x900)
            option(value='1280x1024') 5:4 (1280x1024)
            option(value='1280x768') 5:3 (1280x768)
            option(value='1024x768') 4:3 (1024x768)
            option(value='480x320') 3:2 (480x320)
            option(value='512x512' selected='selected') 1:1 (512x512)
            option(data-aspect-ratio='custom') Custom
      .controls-section__row.aspect-ratio
        .aspect-ratio__input
          input#aspect-ratio-width.c-input--large(type='text' value='512' tabindex="1")
        .button-group.button-group--large.aspect-ratio__options
          button.button--primary.swap-btn(title='Flip dimensions')
            +icon('swap')
          button.button--primary.link-btn(title='Lock aspect ratio')
            +icon('link')
        .aspect-ratio__input
          input#aspect-ratio-height.c-input--large(type='text' value='512' tabindex="1")

  //- Main App area/header (record button container)
  section.start-bar
    
    .record(data-state='initial' title='New recording')
      .record__state
    
    .start-bar__content
      .start-bar__text.js-toggle-audio-record(title='Toggle audio')
        +icon('mic').is-mic-on.hidden
        +icon('mic-off').is-mic-off
        
      //- Fill in the space that the record button would take in this bar but can't because of its positioning outside of it
      //- Using a filler instead of some clever padding because it's more future-proof
      .record-filler
        
      //- Settings link
      .start-bar__text(title='Options')
        +icon('ic_settings_24px').controls-options
