extends _extend

block head
  title Kap
  +stylesheet('main')
  +script('main')

block aboveWindow
  .tray-arrow

block body
  +window-header(title='Kap' invisibleControls updates hide).is-light

  //- Progress bar
  section.progress.hidden
    label.progress-bar-label.txt(for='progress-bar') This might take a moment…
    progress.c-progress#progress-bar.progress-bar(max='100')
    button.button--secondary.progress-bar-cancel-btn cancel

  //- Main App area/header (record button container)
  header.kap-header
    .kap-header__text.time.txt.hidden 00:00
    //- TODO: Implement mouse clicks control
    .kap-header__text
      +icon('mouse').js-toggle-show-cursor
    .record(data-state='initial')
      +icon('crop').record__crop
      +icon('stop').record__stop.hidden
    //- TODO: Implement mic control
    .kap-header__text.js-toggle-audio-record
        +icon('mic').is-mic-on.hidden
        +icon('mic-off').is-mic-off
    .kap-header__text.size.txt.hidden 0 kB

  //- Kap Controls
  section.controls
    .controls-toggle.container
      +icon('dropdown-arrow').triangle
      span.controls-toggle__title.txt Controls
      +icon('gear').controls-options

    .controls-content.hidden
      .controls-section.container
        span.controls-section__title.txt Aspect ratio
        .controls-section__row
          .select-element
            select.aspect-ratio-selector
              option(value='1600x900') 16:9 (1600x900)
              option(value='1280x1024') 5:4 (1280x1024)
              option(value='1280x768') 5:3 (1280x768)
              option(value='1024x768') 4:3 (1024x768)
              option(value='480x320') 3:2 (480x320)
              option(value='512x512' selected='selected') 1:1 (512x512)
              option(data-aspect-ratio='custom') Custom
        .controls-section__row.aspect-ratio
          .aspect-ratio__input
            label.c-label.txt(for='aspect-ratio-width') Width
            input#aspect-ratio-width(type='text' value='512')
          .button-group.aspect-ratio__options
            button.button--primary
              +icon('swap').swap-btn
            button.button--primary
              +icon('link').link-btn
          .aspect-ratio__input
            label.c-label.txt(for='aspect-ratio-height') Height
            input#aspect-ratio-height(type='text' value='512')
