<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kap</title>
  </head>
  <body>
    <div id='mount'></div>
    <script src="main-window.js"></script>
    <script>
      // Only attach the livereloading script if
      // the app is in development mode
      if (require('electron').remote.require('electron-is-dev')) {
        const me = document.createElement('script')
        me.setAttribute('src', 'http://localhost:35729/livereload.js')
        document.body.appendChild(me)
      }
    </script>
  </body>
</html>
