doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    link(href='../css/post-recording.css', rel='stylesheet', type='text/css')
    script(src="../js/post-recording.js")
    title Kap
  body
    main.content
      video#preview(autoplay loop)
      section.video-controls
        .video-controls-left
          .video-playback
            img.video-pause-icon(src='/app/static/video-pause.svg')
            img.video-play-icon(src='/app/static/video-play.svg')
          .video-time
            span.duration
        progress(max='100', value=50)
        .video-controls-right
          .video-volume
            img.video-volume-up(src='/app/static/video-volume-up.svg')
            img.video-volume-off(src='/app/static/video-volume-off.svg')
          .video-fullscreen
            img.video-fullscreen-enter(src='/app/static/video-fullscreen.svg')
            img.video-fullscreen-exit(src='/app/static/video-fullscreen-exit.svg')
      section.controls
        .video-options
          .size
            span Size
            input.input-width(type='text')
            input.input-height(type='text')
          .fps
            span FPS
            ul
              li#fps-15
                span 15
              li#fps-30.active
                span 30
          .loop
            span Loop
            ul
              li#loop-on.active
                span On
              li#loop-off
                span Off
        .window-controls
          .button--secondary.discard
            span Discard
          .button--primary.save
            span Save
