doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    link(href='../css/post-recording.css', rel='stylesheet', type='text/css')
    script(src="../js/post-recording.js")
    title Kap
  body
    main.content
      video#preview(autoplay loop)
      section.video-controls
        .video-controls-left
          .video-playback
            img.video-pause-icon(src='/app/static/video-pause.svg')
            img.video-play-icon(src='/app/static/video-play.svg')
          .video-time
            span.duration
        progress(max='100', value=50)
        .video-controls-right
          span WIP
      section.controls
        .video-options
          .size
            span Size
            input.input-width(type='text')
            input.input-height(type='text')
          .fps
            span FPS
            ul
              li#fps-15
                span 15
              li#fps-30.active
                span 30
          .loop
            span Loop
            ul
              li#loop-on.active
                span On
              li#loop-off
                span Off
        .window-controls
          .discard
            span Discard
          .save
            span Save
