doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    link(href='../css/post-recording.css', rel='stylesheet', type='text/css')
    script(src="../js/post-recording.js")
    title Kap
  body
    main.content
      header.window-header.is-floating.is-transparent
        //- Title Bar
        .title-bar
          .title-bar__controls
            img.hide-window(src='/app/static/traffic-light-close.svg')
            img.minimize-window(src='/app/static/traffic-light-minimize.svg')
            img(src='/app/static/traffic-light-disabled.svg')
          span.window__title.txt Preferences
      .video-preview
        video#preview(autoplay loop)
        .video-controls
          .video-controls-left
            a.video__play-button.js-play-video.hidden
              img(src='/app/static/play.svg')
            a.video__pause-button.js-pause-video
              img(src='/app/static/pause.svg')
            span.video__time.js-video-time 0:00
          progress(max='100' value=0)
          .video-controls-right
            a.video__maximize-button.js-maximize-video
              img(src='/app/static/fullscreen.svg')
            a.video__unmaximize-button.js-unmaximize-video.hidden
              img(src='/app/static/fullscreen.svg')
      section.output
        .output-settings
          .size
            span Size
            input.input-width(type='text')
            input.input-height(type='text')
          .fps
            span FPS
            ul
              li#fps-15
                span 15
              li#fps-30.active
                span 30
          .loop
            span Loop
            ul
              li#loop-on.active
                span On
              li#loop-off
                span Off
        .window-controls
          .button--secondary.discard
            span Discard
          .button--primary.save
            span Save
