extends _extend

block head
  title Preferences
  +stylesheet('preferences')
  +script('preferences')

block body
  +window-header(title='Preferences').is-large
    nav.prefs-nav
      a.is-active(href data-pane='general' title='General')
        +icon('settings')
      a(href data-pane='advanced' title='Advanced')
        +icon('tune')
      a(href data-pane='plugins' title='Plugins')
        +icon('ic_add_box_24px')
  .prefs-sections
    section.js-prefs-section.settings
    section(data-pane='general')
      .preference.container
        .preference-part
          .preference-content
            .preference__title Save to…
            .preference__description.js-save-to-description
          .preference-input
            button.button--secondary.js-choose-save Choose
      .preference.container
        .preference-part
          .preference-content
            .preference__title Start automatically
            .preference__description Launch Kap on system startup
          +toggle('open-on-startup')
      .preference.container
        .preference-part
          .preference-content
            .preference__title Allow analytics
            .preference__description Help us improve Kap by sending anonymous usage stats
          +toggle('allow-analytics')

    //- Advanced preferences
    section.hidden(data-pane='advanced')
      .preference.container
        .preference-part
          .preference-content
            .preference__title Show mouse cursor
            .preference__description Display the cursor in your Kaptures
          +toggle('show-cursor')
        .preference-part
          .preference-content
            .preference__description Highlight clicks
          +toggle('highlight-clicks')
      .preference.container
        .preference-part
          .preference-content
            .preference__title Capture frame rate
            .preference__description Capturing at a higher frame rate might impact performance
          +range(hasLabels=true min='16' max='60' lowLabel='Low' middleLabel='30FPS' highLabel='High').preference-input.fps-slider
      .preference.container
        .preference-part
          .preference-content
            .preference__title Record audio
            .preference__description Select input device
          .preference-input
            +select-custom
              select.js-audio-input-device-selector
                option(value='none') None

    //- Plugins preferences
    section.plugins-prefs.hidden(data-pane='plugins')
      nav.plugins-list(id='plugins-installed')
      nav.plugins-list(id='plugins-available')
      .container.u-padding-bottom.u-padding-top
        a.o-link.js-open-plugins(href) Open plugins folder
